<div class='sidebar'>
  <div class='header'>
    <%= link_to root_path do %>
      <h1><%= @name.content %></h1>
      <h1><%= @title.content %></h1>
    <% end %>
    <p><%= @description.content %></p>
  </div>

  <div class='pages-menu'>
  </div>

  <div class='social-media'>
    <div class='media-link'>
      <%= link_to "Contato", contact_path %>
      <%= link_to "Instagram", "https://www.instagram.com/_salramos/", target: "_blank" %>
    </div>
    <div class='media-link'>
      <% if current_user %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>
