<div class="dashboard-header">
  <h1>Projetos</h1>
  <%= link_to "+ Novo projeto", new_admin_project_path, class:"button-black" %>
</div>

<div class="dashboard-table">
  <table>
    <tr>
      <th>
        Título
        <%# sort_link(@q, :title, 'Título') %>
      </th>
      <th>
        Descrição
        <%# sort_link(@q, :created_at, 'Data', default_order: :asc) %>
      </th>
      <th>
        Ações
      </th>
    </tr>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= link_to admin_project_path(project) do %>
            <%= project.title %>
          <% end %>
        </td>
        <td>
          <%= project.description %>
        </td>
        <td>
          <%= link_to edit_admin_project_path(project) do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to admin_project_path(project),
              method: :delete,
              data: { confirm: "Deletar projeto?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="table-pagination">
    <%# paginate @projects %>
  </div>
</div>
